<div class="latest-popular-movies-section">
    <div class="section-header">
        <h2 class="section-header-title">
            Popular Movies
        </h2>
    </div>
    <div class="popular-movies">
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/fast_and_furious.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Fast & Furious 9</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/tenet.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Tenet</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/red_notice.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Red Notice</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/morbius.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Morbius</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/inception.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Inception</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/matrix.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Matrix</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/avengers.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">The Avengers</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/dune.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Dune</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/jurassic_park.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Jurrasic Park</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/black_panther.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Black Panther</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/wrath_of_man.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Wrath Of Man</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./images/movies/avatar.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Avatar</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
    </div>
</div>