<div class="latest-popular-movies-section">
    <div class="section-header">
        <h2 class="section-header-title">
            Popular Movies
        </h2>
    </div>
    <div class="popular-movies">
        <a *ngFor="let movie of popularMovies" href="./pages/movie.html" [title]="movie.title" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" [src]="movie.imageUrl">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">{{ movie.title }}</span><br>
                <span class="popular-movie-caption-year">{{ movie.releaseYear }} • {{ movie.score }}</span><br>
            </div>
        </a>
    </div>
    <!-- <div class="popular-movies">
        <a href="./pages/movie.html" tabindex="0" role="button" class="popular-movie popular-movie-flexbox">
            <img class="popular-movie-image" src="./assets/movies/fast_and_furious.jpg">
            <div class="popular-movie-caption">
                <span class="popular-movie-caption-title">Fast & Furious 9</span><br>
                <span class="popular-movie-caption-year">2022 • 102 m</span><br>
            </div>
        </a>
    </div> -->
</div>