<section class="movie-content-section">
    <div class="movie-title-rating">
        <div class="movie-title">
            {{ movie.title }}
            <span>({{ movie.releaseYear }})</span>
        </div>
        <div class="movie-rating">
            <div>IMDB RATING:</div>
            <i class="fa fa-star imdb-rating-star"></i>
            <span>{{ movie.score | numberFormat }}</span>/10
        </div>
    </div>
    <div class="movie-poster-trailer">
        <img [src]="movie.imageUrl">
        <div class="movie-trailer">
            <iframe width="100%" height="100%" [src]="movieTrailer" title="Movie Trailer from Youtube" alt="Movie Trailer from Youtube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="movie-plot-details">
        <h2 class="movie-section-title">Storyline</h2>
        <div class="movie-plot-container">
            <span class="movie-plot">{{ movie.summary }}</span>
        </div>
        <div class="movie-details-container">
            <span class="movie-details-title">Categories</span>
            <a [routerLink]="['/movies']" class="movie-details">{{ movie.genres.join(', ') }}</a>
        </div>
    </div>
</section>