<div class="logo-container">
  <a [routerLink]="['/']">
    <img class="logo" src="./assets/logo_black_background.png">
  </a>
</div>
<a id="burger-menu" class="burger-menu" (click)="toggleMenu()"><i [ngClass]="!showMenu ? 'fa fa-bars' : 'fa fa-times'"></i></a>
<nav class="menu-nav">
  <ul id="menu-links" class="menu-links" [ngClass]="{'show-menu': showMenu}">
    <li class="menu-item"><a class="menu-link" routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']">Home</a></li>
    <li class="menu-item"><a class="menu-link" routerLinkActive="menu-link-active" [routerLink]="['/movies']">Movies</a></li>
    <li class="menu-item"><a class="menu-link" routerLinkActive="menu-link-active" [routerLink]="['/people']">People</a></li>
    <li class="menu-item"><a class="menu-link" routerLinkActive="menu-link-active" [routerLink]="['/news']">News</a></li>
    <li class="menu-item"><a class="menu-link" routerLinkActive="menu-link-active" [routerLink]="['/top-10']">Top 10</a></li>
    <li class="menu-item login-register-link"><a class="menu-link" [routerLink]="['/login']">Login</a></li>
    <li class="menu-item login-register-link"><a class="menu-link" [routerLink]="['/register']">Register</a></li>
  </ul>
</nav>
<div class="header-login-register">
  <a [routerLink]="['/login']">
    <button type="button" class="header-login-register-button">Login</button>
  </a>
  <a [routerLink]="['/register']">
    <button type="button" class="header-login-register-button">Register</button>
  </a>
</div>