<div class="section-header">
    <h2 class="section-header-title">
        Actors
    </h2>
</div>
<div class="actors">
    <a *ngFor="let actor of popularActors" href="./pages/actor.html" tabindex="0" role="button" class="actor actor-flexbox">
        <img class="actor-image" [src]="actor.imageUrl">
        <div class="actor-caption">
            <span class="actor-caption-title">{{ actor.name }}</span><br>
            <!-- <span class="actor-caption-years">32 years old</span><br> -->
        </div>
    </a>
</div>
<!-- <div class="actors">
    <a href="./pages/actor.html" tabindex="0" role="button" class="actor actor-flexbox">
        <img class="actor-image" src="./assets/actors/margot_robbie.jpg">
        <div class="actor-caption">
            <span class="actor-caption-title">Margot Robbie</span><br>
            <span class="actor-caption-years">32 years old</span><br>
        </div>
    </a>
</div> -->