<section class="similar-movies-section">
    <div class="similar-movies-container">
        <h2 class="movie-section-title">Similar Movies</h2>
        <div class="featured-movies-container">
            <a *ngFor="let movie of similarMovies" [routerLink]="['/movies', movie.id]" tabindex="0" role="button" class="featured-movie featured-movie-flexbox">
                <img class="featured-movie-image" [src]="movie.imageUrl">
                <div class="featured-movie-caption">
                    <span class="featured-movie-caption-title">{{ movie.title }}</span><br>
                    <span><i class="fa fa-star featured-movie-caption-star"></i> {{ movie.score | numberFormat }} Rating</span><br>
                    <button class="featured-movie-caption-button">Read More</button>
                </div>
            </a>
        </div>
    </div>
</section>