<div class="slideshow-container fade">

    <div class="slideshow-item" style="display: block;">
        <div class="slideshow-item-description">
            <div class="slideshow-item-description-container">
                <span class="movie-title">The Dark Knight</span><br>
                <span class="movie-info">2008 | Action, Crime | IMDB: 9.0</span><br>
                <span class="movie-description">When the menace known as the Joker wreaks havoc and chaos on
                    the people of Gotham, Batman must accept one of the greatest psychological and physical
                    tests of his ability to fight injustice.</span><br>
                <a href="./pages/movie.html" tabindex="0" role="button">
                    <button class="movie-read-more">Read More</button>
                </a>
            </div>

        </div>
        <img class="slider-batman" src="./images/slider/slider-batman.png">
    </div>

    <div class="slideshow-item">
        <div class="slideshow-item-description">
            <div class="slideshow-item-description-container">

                <span class="movie-title">Top Gun: Maverick</span><br>
                <span class="movie-info">2022 | Action, Drama | IMDB: 8.4</span><br>
                <span class="movie-description">When the menace known as the Joker wreaks havoc and chaos on
                    the people of Gotham, Batman must accept one of the greatest psychological and physical
                    tests of his ability to fight injustice.</span><br>
                <a href="./pages/movie.html" tabindex="0" role="button">
                    <button class="movie-read-more">Read More</button>
                </a>
            </div>
        </div>
        <img class="slider-maverick" src="./images/slider/slider-maverick.png">
    </div>

    <div class="slideshow-item">
        <div class="slideshow-item-description">
            <div class="slideshow-item-description-container">

                <span class="movie-title">Interstellar</span><br>
                <span class="movie-info">2014 | Adventure, Sci-Fi | IMDB: 8.6</span><br>
                <span class="movie-description">When the menace known as the Joker wreaks havoc and chaos on
                    the people of Gotham, Batman must accept one of the greatest psychological and physical
                    tests of his ability to fight injustice.</span><br>
                <a href="./pages/movie.html" tabindex="0" role="button">
                    <button class="movie-read-more">Read More</button>
                </a>
            </div>
        </div>
        <img class="slider-interstellar" src="./images/slider/slider-interstellar.png">
    </div>

    <a class="back-button" onclick="previousSlide()">&#10094;</a>
    <a class="forward-button" onclick="nextSlide()">&#10095;</a>
    <div class="slideshow-dots-container">
        <span class="slideshow-dot" onclick="changeSlide(1)"></span>
        <span class="slideshow-dot" onclick="changeSlide(2)"></span>
        <span class="slideshow-dot" onclick="changeSlide(3)"></span>
    </div>
</div>