<div class="actors-container">
    <a *ngFor="let person of people" href="../pages/actor.html" tabindex="0" role="button" class="actor-container actor-container-flexbox">
        <img class="actor-container-image" [src]="person.imageUrl">
        <div class="actor-container-caption">
            <span class="actor-container-caption-title">{{ person.name }}</span><br>
            <span class="actor-container-caption-year">{{ person.role | textCapitalize }}</span><br>
        </div>
    </a>
</div>
<!-- <div class="actors-container">
    <a href="../pages/actor.html" tabindex="0" role="button" class="actor-container actor-container-flexbox">
        <img class="actor-container-image" src="./assets/actors/margot_robbie.jpg">
        <div class="actor-container-caption">
            <span class="actor-container-caption-title">Margot Robbie</span><br>
            <span class="actor-container-caption-year">32 years old</span><br>
        </div>
    </a>
</div> -->
<div class="actors-pagination">
    <ul class="actors-pagination-container actors-pagination-ul">
        <li><a href="#">«</a></li>
        <li><a href="#" class="actors-pagination-active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">→</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>