<section class="login-register-section">
    <div class="form-container">
        <div class="forms">

            <!-- Registration Form -->
            <div id="signup-form" class="form signup">
                <span class="form-title">Registration</span>

                <form id="register-form" action="#">
                    <div class="input-field">
                        <input type="text" name="username" placeholder="Enter your username" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" placeholder="Enter your email" required>
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" class="password" placeholder="Create a password" required>
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password_confirmation" class="password" placeholder="Confirm a password" required>
                        <i class="fa fa-lock"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="accept-terms">
                            <label for="accept-terms" class="form-text">I accepted all terms and conditions</label>
                        </div>
                    </div>

                    <div class="input-field form-button">
                        <input type="submit">
                    </div>
                </form>
                
                <p id="successully-registered">You have successully signed up!</p>

                <div class="login-signup">
                    <span class="form-text">Already a member?
                        <a href="./login.html" class="form-text login-link">Login Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>