<div class="footer-columns">
    <div class="footer-column footer-flexbox">
      <div class="footer-item-container">
        <h2>Subscribe to our Newsletter</h2>
        <p>Our weekly newsletter provides you with the latest and most important happenings in the industry.</p>
        <form id="subscribe-form" class="subscribe-form" [formGroup]="subscribeForm" (ngSubmit)="onSubscribe()">
          <input type="text" formControlName="email" class="subscribe-input" placeholder="Enter e-mail adress" [ngClass]="{'form-invalid-input': subscribeEmail?.invalid}" required/>
          <button type="submit" class="subscribe-button" [disabled]="subscribeForm.invalid">Subscribe</button>
        </form>
        <p id="successully-subscribed" *ngIf="subscribeComplete">You have successully subscribed!</p>
      </div>
    </div>
    <div class="footer-column footer-flexbox">
      <div class="footer-item-container">
        <h2>Usefull Links</h2>
        <ul class="footer-usefull-links">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/movies']">Movies</a></li>
          <li><a [routerLink]="['/people']">People</a></li>
          <li><a [routerLink]="['/news']">News</a></li>
          <li><a [routerLink]="['/top-10']">Top 10</a></li>
        </ul>
        <div class="footer-social-links">
          <a class="social-link">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="social-link">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="social-link">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-column footer-flexbox-last">
      <div class="footer-item-container">
        <h2>Contact Us</h2>
        <form id="contact-us-form" [formGroup]="contactForm" (ngSubmit)="onMessageSend()">
          <div class="footer-contact-us-container">
            <input type="text" formControlName="email" class="contact-us-input" placeholder="Enter e-mail adress" [ngClass]="{'form-invalid-input': contactEmail?.invalid}" required/>
          </div>
          <div class="footer-contact-us-container">
            <textarea formControlName="message" class="footer-contact-us-textarea" placeholder="Type your message" rows="3" [ngClass]="{'form-invalid-input': contactMessage?.invalid}" required></textarea>
            <button type="submit" class="footer-contact-us-button" [disabled]="contactForm.invalid">Send</button>
          </div>
        </form>
        <p id="message-sent" *ngIf="messageSent">We received your message!</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="copyright">Copyright &copy; 2023 • <a class="copyright-title" [routerLink]="['/']">Movie Nachos</a> • <a class="copyright-author" target="_blank" href="https://www.linkedin.com/in/alpournaras/">@alexpournaras</a></p>
  </div>