<div class="movies">
    <a *ngFor="let movie of movies" [routerLink]="['/movies', movie.id]" tabindex="0" role="button" class="movie movie-flexbox">
        <img class="movie-image" [src]="movie.imageUrl">
        <div class="movie-caption">
            <span class="movie-caption-title">{{ movie.title }}</span><br>
            <span class="movie-caption-year">{{ movie.releaseYear }} • {{ movie.score | numberFormat }}</span><br>
        </div>
    </a>
</div>
<div *ngIf="movies.length == 0" class="movies-not-found">No results found...</div>
<div class="movies-pagination">
    <ul class="movies-pagination-container movies-pagination-ul">
        <li><a [routerLink]="['/movies']">«</a></li>
        <li *ngFor="let paginationPageNumber of pagination"><a [routerLink]="['/movies']" [queryParams]="{ page: paginationPageNumber }" [ngClass]="{'movies-pagination-active': page === paginationPageNumber}">{{ paginationPageNumber }}</a></li>
        <li><a [routerLink]="['/movies']" [queryParams]="{ page: totalPages }">»</a></li>
    </ul>
</div>