<div class="movies">
    <a *ngFor="let movie of movies" href="../pages/movie.html" tabindex="0" role="button" class="movie movie-flexbox">
        <img class="movie-image" [src]="movie.imageUrl">
        <div class="movie-caption">
            <span class="movie-caption-title">{{ movie.title }}</span><br>
            <span class="movie-caption-year">{{ movie.releaseYear }} • {{ movie.score | numberFormat }}</span><br>
        </div>
    </a>
</div>
<!-- <div class="movies">
    <a href="../pages/movie.html" tabindex="0" role="button" class="movie movie-flexbox">
        <img class="movie-image" src="./assets/movies/fast_and_furious.jpg">
        <div class="movie-caption">
            <span class="movie-caption-title">Fast & Furious 9</span><br>
            <span class="movie-caption-year">2022 • 102 m</span><br>
        </div>
    </a>
</div> -->
<div class="movies-pagination">
    <ul class="movies-pagination-container movies-pagination-ul">
        <li><a href="#">«</a></li>
        <li><a href="#" class="movies-pagination-active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">→</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>