<section class="login-register-section">
    <div class="form-container">
        <div class="forms">
            <div id="login-form" class="form login">
                <span class="form-title">Login</span>

                <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="input-field">
                        <input type="text" formControlName="username" placeholder="Enter your username" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" formControlName="password" placeholder="Enter your password" required>
                        <i class="fa fa-lock"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me" class="form-text">Remember me</label>
                        </div>
                        
                        <a class="form-text">Forgot password?</a>
                    </div>

                    <div class="input-field form-button">
                        <input type="submit" [disabled]="loginForm.invalid">
                    </div>
                </form>

                <p id="user-not-found" *ngIf="loginStatus == false">User not found or mistaken password!</p>
                <p id="successfully-logged-in" *ngIf="loginStatus">You have successully logged in!</p>

                <div class="login-signup">
                    <span class="form-text">Not a member?
                        <a [routerLink]="['/register']" class="form-text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>