<div class="actors-filters">
    <div class="actors-filters-container">
        <div class="actors-filter-dropdown">
            <button id="filter-sort" class="actors-filter-dropdown-button" (click)="toggleDropdown()">
                <i class="fa fa-sort"></i>
                Sort: 
                <span *ngIf="selectedSort == ''">Default</span>
                <span *ngIf="selectedSort != ''">{{ selectedSort }}</span>
            </button>
            <ul *ngIf="showDropdown" id="filter-sort-dropdown" class="filter-dropdown">
                <li><input name="sort" id="sort_name" type="radio" value="Name" (change)="onSortChange('Name')" [checked]="selectedSort == 'Name'"><label for="sort_name">Name</label></li>
                <li><input name="sort" id="sort_role" type="radio" value="Role" (change)="onSortChange('Role')" [checked]="selectedSort == 'Role'"><label for="sort_role">Role</label></li>
            </ul>
        </div>
        <div class="actors-filter-submit">
            <button type="submit" class="actors-filter-submit-button" (click)="onFilterSubmit()">
                <i class="fa fa-filter"></i>
                Filter
            </button>
        </div>
    </div>
    <div class="actors-search-container">
        <div class="actors-search">
            <div class="actors-search-form" autocomplete="off" action="#">
                <span>
                    <i class="fa fa-search actors-search-icon"></i>
                    <input class="actors-search-input" type="text" [(ngModel)]="searchTerm" (input)="searchPeople()" name="keyword" placeholder="Enter your keywords..." autocomplete="off">
                </span>
            </div>
        </div>
     </div>
</div>