<div class="movies-filters">
    <div class="movies-filters-container">
        <div class="movies-filter-dropdown">
            <button id="filter-genre" class="movies-filter-dropdown-button" (click)="showGenresDropdown()">
                <i class="fa fa-folder-open"></i>
                Genre: <span>All</span>
            </button>
            <ul *ngIf="showGenres" id="filter-genre-dropdown" class="filter-dropdown">
                <li *ngFor="let genre of genresList"><input name="genre[]" type="checkbox" [id]="genre" [value]="genre"><label [for]="genre">{{ genre }}</label></li>
            </ul>
        </div>
        <div class="movies-filter-dropdown movies-filter-dropdown-2-col">
            <button id="filter-year" class="movies-filter-dropdown-button" (click)="showYearDropdown()">
                <i class="fa fa-calendar"></i>
                Year: <span>All</span>
            </button>
            <ul *ngIf="showYear" id="filter-year-dropdown" class="filter-dropdown">
                <li *ngFor="let year of yearsList"><input name="year[]" type="checkbox" [id]="year" [value]="year"><label [for]="year">{{ year }}</label></li>
            </ul>
        </div>
        <div class="movies-filter-dropdown">
            <button id="filter-sort" class="movies-filter-dropdown-button" (click)="showSortDropdown()">
                <i class="fa fa-sort"></i>
                Sort: <span>Default</span>
            </button>
            <ul *ngIf="showSort" id="filter-sort-dropdown" class="filter-dropdown">
                <li><input name="sort" id="sort_default" type="radio" value="default" checked="checked"><label for="sort_default">Default</label></li>
                <li><input name="sort" id="sort_title" type="radio" value="title"><label for="sort_title">Name</label></li>
                <li><input name="sort" id="sort_imdb" type="radio" value="imdb"><label for="sort_imdb">IMDb</label></li>
                <li><input name="sort" id="sort_year" type="radio" value="year"><label for="sort_year">Release Date</label></li>
                <li><input name="sort" id="sort_rated_scores" type="radio" value="rated_scores"><label for="sort_rated_scores">Site Rating</label></li>
            </ul>
        </div>
        <div class="movies-filter-submit">
            <button type="submit" class="movies-filter-submit-button">
                <i class="fa fa-filter"></i>
                Filter
            </button>
        </div>
    </div>
    <div class="movies-search-container">
        <div class="movies-search">
           <form class="movies-search-form" autocomplete="off" action="#">
            <span>
                <i class="fa fa-search movies-search-icon"></i>
                <input class="movies-search-input" type="text" name="keyword" placeholder="Enter your keywords..." autocomplete="off">
            </span>
           </form>
        </div>
     </div>
</div>