<section class="movie-cast-section">
    <div class="movie-cast-container">
        <h2 class="movie-section-title">Movie Cast</h2>
        <div class="actors">
            <a *ngFor="let person of cast" [routerLink]="['/movies', 'movie002']" href="./actor.html" tabindex="0" role="button" class="actor actor-flexbox">
                <img class="actor-image" [src]="person.imageUrl">
                <div class="actor-caption">
                    <span class="actor-caption-title">{{ person.name }}</span><br>
                    <span class="actor-caption-years">{{ person.role | textCapitalize }}</span><br>
                </div>
            </a>
        </div>
    </div>
</section>