<section class="news-section">
    <div class="section-header">
        <h2 class="section-header-title">
            Latest News
        </h2>
    </div>
    <div class="latest-news-container">
        <article class="article-post">
            <h2 class="article-title">A Role in Don't Look Up Director Adam McKay's Next Movie Could Be Yours for $25,000</h2>
            <div class="article-image-container">
                <img src="./assets/news/dont_look_up.jpg">
            </div>
            <div class="article-content">
                <p class="article-paragraph">Director <a [routerLink]="'/people'" class="article-link">Adam McKay</a> is selling off personal items in an auction to raise money for the Climate Emergency Fund. The "Make Me Regret This" auction features 37 lots, including movie props, comic books, trading cards, and for someone with deep pockets, a walk-on role in his next movie. The estimated final price for the walk-on role is $25,000.</p>
                <p class="article-paragraph">The auction features an eclectic mix of items, such as baseball cards, vintage wines, first edition comic books, and the Sex Panther prop from Anchorman: The Legend of Ron Burgundy. However, the most unique item being offered is the chance for someone to meet McKay and have a walk-on role in his next film project. As a member of the Climate Emergency Fund Board of Directors, McKay is using his platform to raise awareness about the issue of climate change.</p>
                <p class="article-paragraph">The listing for the walk-on role in McKay's next film project states: "Adam McKay, Climate Emergency Fund Board of Director is an Academy Award-winning writer/director/producer. Adam’s most recent feature, <a [routerLink]="'/movies'" class="article-link">Don’t Look Up</a>, received four Academy Award and BAFTA nominations including Best Picture and Best Original Screenplay, as well as a WGA Original Screenplay win for McKay.” Currently, the lot has 29 watchers but no current bids.</p>
            </div>
        </article>
        <article class="article-post">
            <h2 class="article-title">Violent Night 2 Is Happening with Same Writers and Director</h2>
            <div class="article-image-container">
                <img src="./assets/news/violent_night.jpg">
            </div>
            <div class="article-content">
                <p class="article-paragraph">Director <a [routerLink]="'/people'" class="article-link">Tommy Wirkola</a> has confirmed that the sequel to the successful holiday action movie, <a [routerLink]="'/movies'" class="article-link">Violent Night</a>, is officially in the works. The original film, which starred <a [routerLink]="'/people'" class="article-link">David Harbour</a> as a badass version of Santa Claus, was well received by audiences and did well at the box office. This led to speculation that a sequel would be announced.</p>
                <p class="article-paragraph">In an interview with TheWrap, Wirkola confirmed that the process of making Violent Night 2 has begun. The plan is for Harbour to return as Santa Claus, and for the same creative team to be involved on both sides of the camera. Wirkola will return as director and <a [routerLink]="'/people'" class="article-link">Pat Casey</a> and <a [routerLink]="'/people'" class="article-link">Josh Miller</a>, the duo who wrote the first film, will also co-write Violent Night 2.</p>
                <p class="article-paragraph">However, production for the sequel will not happen in the immediate future. Wirkola and the screenwriters want to take their time to craft a follow-up story that everyone is happy with. Wirkola stated that they have some ideas in mind, but they want to "crack the script and figure out the story." The priority is to make sure that the sequel lives up to the success of the first film.</p>
            </div>
        </article>
        <article class="article-post">
            <h2 class="article-title">Top Gun: Maverick Gets Best Picture Nomination at the Oscars</h2>
            <div class="article-image-container">
                <img src="./assets/news/top_gun_maverick.jpg">
            </div>
            <div class="article-content">
                <p class="article-paragraph">The 95th Academy Award nominations have included a surprise with the legacy sequel <a [routerLink]="'/movies'" class="article-link">Top Gun: Maverick</a> receiving a nod for Best Picture. The <a [routerLink]="'/people'" class="article-link">Tom Cruise</a> led follow-up to the beloved 1986 classic has seen major success at the box office, grossing $1.489 billion worldwide and making it the second-highest-grossing movie of 2022 and the highest-grossing movie of Cruise's career. This is the first time the Top Gun franchise has received a Best Picture nomination.</p>
                <p class="article-paragraph">Top Gun: Maverick will be competing for Best Picture against other films such as <a [routerLink]="'/movies'" class="article-link">Avatar: The Way of Water</a>, <a [routerLink]="'/movies'" class="article-link">Elvis</a> and <a [routerLink]="'/movies'" class="article-link">All Quiet on the Western Front</a>. Along with Best Picture, the film has also been nominated for Best Sound, Best Adapted Screenplay, Best Film Editing, and Best Original Song for “Hold My Hand.” However, Tom Cruise was not nominated for Best Actor, despite praise for his performance from critics, audiences, and his co-stars.</p>
                <p class="article-paragraph">The sequel picks up after more than thirty years since the release of the first <a [routerLink]="'/movies'" class="article-link">Top Gun</a> and follows Pete “Maverick” Mitchell (Tom Cruise) who has been a top aviator for the Navy. Maverick finds himself training a detachment of Top Gun graduates for a specialized mission the likes of which no living pilot has ever seen.</p>
            </div>
        </article>
        <div class="show-more-news-container">
            <a [routerLink]="'/news'" class="more-news">
                <button class="more-news-button">More News</button>
            </a>
        </div>
    </div>
</section>